<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/nightingale.svg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nightingale</title>
    <style>
      * {
        font-family: 'Courier New', Courier, monospace;
      }
    </style>
    <link rel="stylesheet" href="/stylesheets/prototype.css">
  </head>
  <body>
    <h1>About Us</h1>
    <p>We are 3 Computer Science Students at The University Of Adelaide. Will, Nik and Eddie</p>
    <p>Will and Eddie are majoring in Artificial Intelligence, and Nik is majoring in distributed systems and networking</p>
    <p>We have experience working on SaaS products previously, and have implemented support systems before, we know what is needed</p>
    <p>You can reach out to us below:</p>
    <ul>
      <li>will_davis@outlook.com.au</li>
      <li>nikolastyllis@gmail.com</li>
      <li>edwardgilchrist2002@gmail.com</li>
    </ul>
  </body>
</html>