<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/nightingale.svg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nightingale</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="main">
    <div class="splash">
        <img src="/images/nightingale.svg" alt="Logo" class="fade-in">
    </div>
    <div class="q-section">
        <h1>Ask Nightingale a question about Tech eChallenge 2023!</h1>
        <div class="inputsection">
          <input type="text" class="q-input"  autofocus id="input-box">
          <button type="button" onclick="sendRequest()" class="sendButton">></button>
        </div>
        <h1 id="question"></h1>
        <h2 id="display"></h2>
    </div>
	<script src="/javascript/index.js"></script>
  </body>
</html>