<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nightingale</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="main">
    <div class="splash">
        <img src="/images/logo.ico" alt="Logo" class="fade-in">
    </div>
    <div class="q-section">
        <h1>Ask Nightingale a question about Tech E Challenge 2023!</h1>
        <input type="text" class="q-input"  autofocus id="input-box">
        <h2 id="display"></h2>
    </div>
	<script src="/javascript/index.js"></script>
  </body>
</html>