<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/nightingale.svg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nightingale</title>
    <style>
      * {
        font-family: 'Courier New', Courier, monospace;
      }
    </style>
    <link rel="stylesheet" href="/stylesheets/prototype.css">
  </head>
  <body>
    <div class="first-container">
      <h1>This is an Embedding of our Figma Prototype (and a video tour)</h1>
      <h1>Go Full Screen for a better experience</h1>
    </div>
    <div class="container">
      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FEo6zX8AlXc2JWBkCcGYwKg%2FProof-of-Concept%3Fpage-id%3D0%253A1%26type%3Ddesign%26node-id%3D129-3295%26viewport%3D6639%252C9579%252C0.16%26scaling%3Dmin-zoom%26starting-point-node-id%3D129%253A3295%26show-proto-sidebar%3D1" allowfullscreen></iframe>  </body>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/Vocf1uNKgCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</html>